---
import Vertical from '~/assets/logo/vertical.svg';
import Menu from '~/components/Menu.astro';

const { currentPath } = Astro.props;
const isHome = currentPath === '/';
---

<header
  class="container-parent text-theme-white [container-type:inline-size] absolute bottom-0 left-0 z-10 m-0 flex h-[100dvh] w-1/4 min-w-50 flex-col justify-between pr-0"
  transition:name="header"
>
  <a
    href="/"
    class="z-10 block h-min w-min p-4 transition-all duration-300 ease-in-out"
    class:list={{
      'text-theme-main': isHome,
      'hover:text-theme-white': isHome,
      'text-theme-white': !isHome,
      'hover:text-theme-main': !isHome,
    }}
  >
    <Vertical class="h-auto w-1/2 min-w-40" />
  </a>
  <Menu transition:name="menu" />
</header>
