---
type Props = {
  class?: string;
  [key: string]: any;
};

const { class: className = '', ...props } = Astro.props as Props;
---

<main
  id="mainSection"
  {...props}
  class="text-theme-black m-0 flex w-full max-w-full min-w-2/3 flex-col overflow-y-auto p-0"
  class:list={{
    [className]: Boolean(className),
  }}
  transition:name="main"
>
  <slot />
</main>
