@import 'tailwindcss';

@theme {
  --color-theme-black: #1b1b1b;
  --color-theme-white: #f6f0eb;
  --color-theme-main: #e12b56;
  --color-theme-gray-6: #454545;
  --color-theme-gray-5: #696969;
  --color-theme-gray-4: #929292;
  --color-theme-gray-3: #b4b4b4;
  --color-theme-gray-2: #d8d8d8;
  --color-theme-gray-1: #eeeeee;

  --font-anton: 'Anton', sans-serif;
  --font-oswald: 'Oswald', sans-serif;
}

@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Anton-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 100 900;
  src: url('/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
}


  .hidden-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: scroll;
  }
  .hidden-scrollbar::-webkit-scrollbar {
    display: none;
  }