@import "tailwindcss";

@theme{
  --color-theme-black: #1B1B1B;
  --color-theme-white: #F6F0EB;
  --color-theme-main: #E12B56;
  --color-theme-gray-6: #454545;
  --color-theme-gray-5: #696969;
  --color-theme-gray-4: #929292;
  --color-theme-gray-3: #B4B4B4;
  --color-theme-gray-2: #D8D8D8;
  --color-theme-gray-1: #EEEEEE;
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 100 900;
  src: url('/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
}