---
// Layout
import Layout from '~/layouts/Layout.astro';

// Sections
import Main from '~/section/Main.astro';

// Atoms
import Link from '~/atoms/Link.astro';
import Title from '~/atoms/Title.astro';

// Constants
import COLORS from '~/constants/Colors';
---

<Layout
  headerSize="small"
  mainSize="medium"
  asideSize="small"
  asideBackground="transparent"
>
  <Main
    class="m-0 w-1/3 bg-[url('/images/collection.webp')] bg-cover bg-center p-0"
  >
    <div
      class="flex h-full w-full flex-col items-center justify-end text-center"
    >
      <div>
        <Title
          title="A curated drop that defines our season"
          level={1}
          color={COLORS.WHITE}
        />
        <Title
          title="Not just pieces — but a vision in fabric"
          level={2}
          color={COLORS.WHITE}
        />
      </div>
      <div
        class="flex w-full flex-row flex-wrap content-between justify-between pr-[25%] pb-4 pl-[25%]"
      >
        <Link
          href="/clothing"
          class="text-theme-white text-[clamp(2rem,2.75vw,4.5rem)]"
          >[Clothing]</Link
        >
        <Link
          href="/footwear"
          class="text-theme-white text-[clamp(2rem,2.75vw,4.5rem)]"
          >[Footwear]</Link
        >
      </div>
    </div>
  </Main>
</Layout>
