---
import Title from '~/atoms/Title.astro';

import '~/styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Document</title>
  </head>
  <body>
    <Title level={1} />
    <Title level={2} />
    <Title level={3} />
    <Title level={4} />
    <Title level={5} />
    <Title level={6} />
  </body>
</html>
