---
// Layout
import Layout from '~/layouts/Layout.astro';

// Atoms
import Title from '~/atoms/Title.astro';

// Constants
import { COLORS } from '~/constants/Colors';
---

<Layout
  headerSize="medium"
  mainSize="medium"
  asideSize="medium"
  asideBackground="pattern"
>
  >
  <div class="flex h-full w-full items-end p-0" slot="aside">
    <Title title="Art & Clothing" level={3} color={COLORS.MAIN} />
  </div>
</Layout>
