---
import CartScroll from '~/components/CartScroll.astro';
import Layout from '~/layouts/Layout.astro';
import Aside from '~/section/Aside.astro';
import Main from '~/section/Main.astro';
import Title from '~/atoms/Title.astro';
---

<Layout>
  <Main
    class="m-0 w-1/3 bg-[url('/images/streetDoor.jpg')] bg-cover bg-center p-0"
  />
  <Aside
    class="m-0 w-1/3 bg-[url('/svg/topography.svg')] bg-cover bg-center bg-no-repeat p-0"
  >
    <div class="fl flex h-1/1 w-full">
      <Title title="Art & Clothing" level={3} />
    </div>
    <CartScroll scroll={false} />
  </Aside>
</Layout>
