---
import { COLORS } from '~/constants/Colors';
import type { ColorsType } from '~/types/Colors';

type Props = {
  class?: string;
  casing?: 'uppercase' | 'lowercase' | 'capitalize' | 'normal-case';
  color?: ColorsType;
  isActive?: boolean;
  url: string;
  [key: string]: any;
};

const {
  casing = 'uppercase',
  class: parentClasses = '',
  color = COLORS.WHITE,
  isActive = false,
  url,
  ...props
} = Astro.props;
---

<a
  href={url}
  {...props}
  class="font-anton hover:text-theme-main m-0 p-0 transition-all duration-300 ease-in-out"
  class:list={{
    [casing]: Boolean(casing),
    [parentClasses]: Boolean(parentClasses),
    [`text-theme-${isActive ? 'main' : color}`]: true,
  }}
>
  <slot />
</a>
