---
// Const
import { COLORS } from '~/constants/Colors';

// Types
import type { LinkPropsType } from '~/types/Components';

const {
  casing = 'uppercase',
  class: parentClasses = '',
  color = COLORS.WHITE,
  isActive = false,
  href,
  target = '_self',
  rel = 'noopener noreferrer',
  ...props
} = Astro.props as LinkPropsType;
---

<a
  href={href}
  {...props}
  class="font-anton hover:text-theme-main m-0 p-0 transition-all duration-300 ease-in-out"
  class:list={{
    [`${parentClasses}`]: Boolean(parentClasses),
    [casing]: Boolean(casing),
    [`text-theme-${isActive ? 'main' : color}`]: Boolean(isActive),
  }}
>
  <slot />
</a>
