---
// Atoms
import Link from '~/atoms/Link.astro';
import Button from '~/atoms/Button.astro';

// Const
import { MENU_ITEMS } from '~/constants/Menu';

// Types
import type { RouteType } from '~/types/Routes';

const pathname = Astro.url.pathname as RouteType;
const { class: className } = Astro.props;
---

<div
  id="menu"
  class="nav-custom-class bg-theme-black absolute h-full w-full transition-all"
  class:list={{
    [className]: Boolean(className),
  }}
>
  <Button
    id="menuButton"
    class="absolute right-0 bottom-0 transform-[translateX(100%)]"
  >
    [Menu]
  </Button>

  <nav>
    {
      MENU_ITEMS.map(({ url, id, label, disabled }) => {
        const isActive = pathname === url || pathname.includes(url);
        return (
          <Link
            transition:name={`menu-item-${id}`}
            href={url}
            class={`menu-link font-anton hover:text-theme-main m-0 p-0 leading-none uppercase transition-all duration-300 ease-in-out hover:text-[clamp(3rem,23cqw,6.5rem)] ${
              isActive
                ? 'text-theme-main text-[clamp(3rem,23cqw,6.5rem)]'
                : 'text-theme-white text-[clamp(2rem,22cqw,6rem)]'
            }`}
            disabled={disabled}
            aria-current={isActive ? 'page' : undefined}
            data-astro-prefetch="hover"
          >
            {label}
          </Link>
        );
      })
    }
  </nav>
</div>

<style>
  .nav-custom-class {
    transform: translateX(-100%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: end;
    align-items: start;
  }

  .nav-custom-class.active {
    transform: translateX(0%);
    nav {
      opacity: 1;
    }
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    const menu = document.getElementById('menu');
    const menuButton = document.getElementById('menuButton');
    const logo = document.getElementById('logo');

    menuButton?.addEventListener('click', () => {
      menu?.classList.toggle('active');
      menuButton?.classList.toggle('active');
      logo?.classList.toggle('active');
    });
  });
</script>
