---
// Const
import type { RouteType } from '~/types/Routes';
import { MENU_ITEMS } from '~/constants/Menu';

const pathname = Astro.url.pathname as RouteType;
---

<nav
  class="m-0 flex h-full w-full flex-col items-start justify-end overflow-hidden p-0"
>
  {
    MENU_ITEMS.map(({ url, id, label }) => {
      const isActive = pathname === url;
      return (
        <a
          transition:name="menu-link"
          href={url}
          class={`menu-link font-anton hover:text-theme-main m-0 p-0 leading-none uppercase transition-all duration-300 ease-in-out hover:text-[clamp(3rem,23cqw,6.5rem)] ${
            isActive
              ? 'text-theme-main text-[clamp(3rem,23cqw,6.5rem)]'
              : 'text-theme-white text-[clamp(2rem,22cqw,6rem)]'
          }`}
          aria-current={isActive ? 'page' : undefined}
          data-astro-prefetch="hover"
        >
          {label}
        </a>
      );
    })
  }
</nav>
